mixin file-upload-container()
    .file-upload-container.upload-files-container
        span.icon.icon-file-image-o
        span Dateien hierher ziehen oder
        +link('#').link--text.js-fileuploader-browse(href='#') Dateien durchsuchen
