.vs/WebRumpf/v14/.suo
*.user
packages/


/Peanuts.Net.Core.Test/Spring.Properties.config
/DbSchemaCreator/bin
/DbSchemaCreator/obj
Peanuts.Net.Web/Config/Spring.Properties.config
Peanuts.Net.Web/node_modules/
.vs/
.vscode/
Peanuts.Net.Core/Database/Build_Test.bat
Peanuts.Net.Core/Database/Migrate_Dev.bat
Peanuts.Net.Core.Test/obj/
Peanuts.Net.Core.Test/bin/
Peanuts.Net.Core/bin/
Peanuts.Net.Core/obj/
Peanuts.Net.Web.Test/bin/
Peanuts.Net.Web.Test/obj/
Peanuts.Net.Web/bin/
Peanuts.Net.Web/obj/
BuildDatabase.bat

Peanuts.Net.Core/Database/Migrate_peanuts_tobi.bat
Peanuts.Net.Core/Database/Migrate_peanuts_dev.bat
Peanuts.Net.Core/Database/Migrate_peanuts_daniel.bat
Peanuts.Net.Core/Database/Build_peanuts_tobi.bat
Peanuts.Net.Core.Test/Config/Spring.Properties.config
Migrate*.bat
