@{
    ViewBag.Title = "Kennwort zurückgesetzt";
    Layout = "~/Views/Shared/_LayoutFullscreen.cshtml";
}


<p>
    Bitte überprüfe deinen E-Mail-Posteingang. Dich sollte in Kürze eine E-Mail erreichen,<br/> die einen Link zu einer Seite enthält, auf der du ein neues Kennwort festlegen kannst.
</p>