@{
    ViewBag.Title = "Versions-Historie";
}

<div class="version-history">
    <div class="version-history-item">
        <div class="version-history-item__title">
            Version - 1.1.1
        </div>
        <div class="version-history-item__content">
            @Html.Partial("Version_1_1_1")
        </div>
    </div>
    <div class="version-history-item">
        <div class="version-history-item__title">
            Version - 1.1.0
        </div>
        <div class="version-history-item__content">
            @Html.Partial("Version_1_1_0")
        </div>
    </div>
</div>

