<div class="feature-list">
    <div class="feature-list-item">
        <div class="feature-list-item__title">
            Überarbeitete Gruppen- bzw. Mitgliedschaftsansicht
        </div>
        <div class="feature-list-item__description">
            Die Gruppen- bzw. Mitgliedschaftsansicht wurde überarbeitet. Zum einen wurden die Informationen auf mehrere Tabs verteilt und zum anderen wurden weitere Informationen hinzugefügt.
        </div>
    </div>
    <div class="feature-list-item">
        <div class="feature-list-item__title">
            Rechnungen automatisch akzeptieren
        </div>
        <div class="feature-list-item__description">
            In den Einstellungen deiner Gruppenmitgliedschaften, kannst du jetzt das automatische Akzeptieren von Rechnungen aktivieren.
            Solltest du eine Rechnung in der Gruppe erhalten, wird diese automatisch als von dir akzeptiert markiert.
        </div>
    </div>
    <div class="feature-list-item">
        <div class="feature-list-item__title">
            Erweiterte Statistik
        </div>
        <div class="feature-list-item__description">
            Die Statistik für die Gruppen in denen du Mitglied bist wurden erweitert. Es stehen jetzt weitere Auswertungen zur Verfügung.
        </div>
    </div>
    <div class="feature-list-item">
        <div class="feature-list-item__title">
            Teilnahme an Peanut vereinfacht
        </div>
        <div class="feature-list-item__description">
            Auf der Übersichtsseite eines Peanuts kann jetzt viel schneller die Teilnahmeart eines Nutzer festgelegt werden.
        </div>
    </div>
    <div class="feature-list-item">
        <div class="feature-list-item__title">
            Aktuelles auf dem Dashboard
        </div>
        <div class="feature-list-item__description">
            Auf dem Dashboard werden dir jetzt detaillierter Informationen angezeigt. So siehst du zum Beispiel, welcher Peanut heute anliegt, ob du was einkaufen musst und und und ...
        </div>
    </div>
    <div class="feature-list-item">
        <div class="feature-list-item__title">
            Links an Peanut
        </div>
        <div class="feature-list-item__description">
            Du kannst an Peanuts Links hinterlegen, die zum Beispiel auf Rezept-Seiten, Veranstaltungsinfos o.ä. verweisen.
        </div>
    </div>
    <div class="feature-list-item">
        <div class="feature-list-item__title">
            Fehler behoben
        </div>
        <div class="feature-list-item__description">
            Natürlich wurden auch bekannte Fehler behoben. 
        </div>
    </div>
    <div class="feature-list-item">
        <div class="feature-list-item__title">
            Beschränkte Teilnehmerzahl für Peanuts
        </div>
        <div class="feature-list-item__description">
            Du kannst die Anzahl der Teilnehmer an einem Peanut jetzt beschränken.
        </div>
    </div>
</div>

