<div class="feature-list">
    <div class="feature-list-item">
        <div class="feature-list-item__title">
            Mitglieder-Tab überarbeitet
        </div>
        <div class="feature-list-item__description">
            Auf dem Mitglieder-Tab der Gruppenseite wird jetzt zwischen aktiven und inaktiven Mitgliedern unterschieden. Außerdem werden Gäste der Gruppe wieder angezeigt.
        </div>
    </div>  
    <div class="feature-list-item">
        <div class="feature-list-item__title">
            Fehlende Mitglieder werden wieder angezeigt.
        </div>
        <div class="feature-list-item__description">
            Beim Einladen von Nutzern zu einem Peanut und beim Erstellen von Rechnungen können jetzt auch wieder Gäste ausgewählt werden.
        </div>
    </div>
</div>

