<div class="feature-list">
    <div class="feature-list-item">
        <div class="feature-list-item__title">
            Administration deiner Gruppe
        </div>
        <div class="feature-list-item__description">
            Als Administrator kannst du jetzt die Gruppenmitglieder verwalten.
        </div>
    </div>  
    <div class="feature-list-item">
        <div class="feature-list-item__title">
            Kleinere Optimierungen
        </div>
        <div class="feature-list-item__description">
            Die Anwendung wurde weiter auf Nutzbarkeit optimiert und zum Beispiel das Template an einigen Stellen angepasst.
        </div>
    </div> 
    <div class="feature-list-item">
        <div class="feature-list-item__title">
            Kleinere Fehler behoben
        </div>
        <div class="feature-list-item__description">
            Kleinere Fehler wurden behoben.
        </div>
    </div> 
</div>

