Subject: Peanuts-Passwort zurückgesetzt
<p>
Hallo {user.FirstName},
</p>
<p>
du scheinst dein Passwort vergessen zu haben. Jedenfalls haben wir eine Meldung bekommen, dass du es zurückzusetzen möchstest. Wenn du <a href="{baseLink}">diesem Link folgst</a>, 
kannst du ein neues Kennwort festlegen.</p>
<p>
Solltest du keine Zurücksetzung deines Passwortes angefordert haben, ignorier diese E-Mail einfach.
</p>
<p>
Einen schönen Tag wünscht,<br/>
Dein Peanuts-Team
</p>