extends app/atomic/template/start

include app/atomic/molecule/headline-start
include app/atomic/organism/cards-grid-dashboard
include app/atomic/molecule/card-dashboard
include app/atomic/atom/link-icon
include app/atomic/atom/admin-link-start

include app/atomic/organism/news
include app/atomic/molecule/news-item

block content
    +headline-start(startHeadline.title, startHeadline.text)

    +news()
        +news-item('success', 'Heute', 'calendar')
            | Heute liegt ein Peanut an
        +news-item('info', 'Heute', 'euro')
            | Du hast eine Zahlung erhalten. Du solltest sie 
            |
            a(href='#') bestätigen
            | !
        +news-item('warning', 'Heute', 'log-in')
            | Du hast eine offene Rechnunh.
        +news-item('danger', 'Heute', 'log-out')
            | Heute liegt ein Peanut an

    +cards-grid-dashboard()
        +card-dashboard(navigation.dashboard[0])
        +card-dashboard(navigation.dashboard[1])
        +card-dashboard(navigation.dashboard[2])

    +admin-link-start()
        +link-icon('/admin/dashboard.html','gears','Administration')
