mixin map()
    #js-map.map.js-map&attributes(attributes)
        block
        //#js-map.map.js-map(style='position: relative; overflow: hidden;', data-api-key='googleapikey')

        //#js-map.map.js-map(style='position: relative; overflow: hidden;', data-api-key='googleapikey')
        //    .map-location(data-street='Tharandter Str.', data-mmarker-url="" data-streetnumber='13', data-postal-code='01159', data-city='Dresden', data-country='Deutschland')
        //    .map-location(data-street='Tharandter Str.', data-mmarker-url="" data-streetnumber='11', data-postal-code='01159', data-city='Dresden', data-country='Deutschland')
