@{
    ViewBag.Title = "Kontakt";
}

<address>
    queoflow<br />
    Tharandter Str. 13, 01159 Dresden<br />
    <abbr title="Telefon">Tel:</abbr> +49 351 21 30380
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>