extends ../../app/atomic/template/styleguidev2

include ../../app/atomic/molecule/nav-tabs
include ../../app/atomic/molecule/nav-tabs-panel

block content
    -
        var tabs = {
            core: 'Stammdaten',
            description: 'Objektbeschreibung',
            pictures: 'Bilder',
            documents: 'Dokumente & Links',
            units: 'Einheiten'
        }
        var active = 'core';

    .container-content
        .container-content__header
            h1
                strong Tab-Navigation
            +nav-tabs(tabs, active)

        +form('horizontal')
            .nav-tabs-content.tab-content
                each caption, key in tabs
                    +nav-tabs-panel(key)(class=(key == 'active' ? 'active' : null))
                        fieldset
                            legend.form__legend= caption

        +highlight()
            +form('horizontal')
                +nav-tabs(tabs, active)
                .nav-tabs-content.tab-content
                    each caption, key in tabs
                        +nav-tabs-panel(key)(class=(key == 'active' ? 'active' : null))
                            fieldset
                                legend.form__legend= caption

