mixin input-datetime(name, placeholder)
    .input-group.date.js-datetime-picker
        input.form-control(type='text' id=name name=name placeholder=placeholder)&attributes(attributes)
        span.input-group-addon
            span.icon-calendar
