extends ../../app/atomic/template/styleguidev2
include ../../app/atomic/organism/map

block content
    .container-content
        .container-content__header
            h1
                strong Google
                =" Maps"

        ol
            li
                +link('#1') Google Maps

        h2#1 Google Maps
        h1 Google
        +highlight()
            h1 Google
