@using System.Resources
@using Com.QueoFlow.Peanuts.Net.Web.Resources
@model Com.QueoFlow.Peanuts.Net.Web.Models.Shared.Forms.PasswordStrengthModel


@functions {

    string GetValidationMessage(string key) {
        ResourceManager resourceManager = new ResourceManager(typeof(Resources_Web));
        return resourceManager.GetString("hint_PasswordStrength_" + key);
    }

}

@{
    object optionsAsJson = new {
        common = new {
            minChar = 8
        },
        i18n = new {
            wordLength = GetValidationMessage("WordLength"),
            wordNotEmail = GetValidationMessage("WordNotEmail"),
            wordSimilarToUsername = GetValidationMessage("WordSimilarToUsername"),
            wordTwoCharacterClasses = GetValidationMessage("WordTwoCharacterClasses"),
            wordRepetitions = GetValidationMessage("WordRepetitions"),
            wordSequences = GetValidationMessage("WordSequences"),
            errorList = GetValidationMessage("ErrorList"),
            veryWeak = GetValidationMessage("VeryWeak"),
            weak = GetValidationMessage("Weak"),
            normal = GetValidationMessage("Normal"),
            medium = GetValidationMessage("Medium"),
            strong = GetValidationMessage("Strong"),
            veryStrong = GetValidationMessage("VeryStrong")
        }
    };

    string optionsAsJsonString = Json.Encode(optionsAsJson);
}
<div class="js-pw-strength-decorator"
     for="#@(Model.PasswordInputId)"
     data-options="@optionsAsJsonString">
</div>