@model Com.QueoFlow.Peanuts.Net.Web.Models.Shared.Forms.StaticControlModel

<div class="form-group">
    <label class="control-label">@Model.Label</label>
    <div class="control-value">
        <div class="form-control form-control--static">
            @Model.Value
        </div>
    </div>
</div>