.peanut-participations-list-item {
    td {
        vertical-align: middle !important;
    }


    &__name {
        text-align: left !important;
    }

    &__participation_state {
        max-width: 30px;
        width: 30px !important;
        text-align: center !important;
        font-size: 18px;
    }

    &__participation_type {
        .btn-group{
            width: 100%;
            [type=submit]{
                flex-grow: 1;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                text-align: left !important;
                font-weight: normal;
                padding-right: @padding-base-vertical;
            }
        }      
    }

    .form-inline {
        width: 100%;

        .control-value {
            padding-left: 0 !important;
            padding-right: 0 !important;
            width: 100% !important;
        }        
    }

    label {
        display: none;
    }

    .remove-list-item {
        height: 32px;
        padding: 0 6px;
    }
}
