@{
    Layout = null;
}

<!DOCTYPE html>

<html class=" js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths" lang="">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Unauthorized: Access is denied</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="http://0effortthemes.com/unauthorized-error-page/demo/styles/vendor.css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="http://0effortthemes.com/unauthorized-error-page/demo/styles/main.css">

    <script src="//www.google-analytics.com/analytics.js"></script>
    <script src="http://0effortthemes.com/unauthorized-error-page/demo/scripts/vendor/modernizr.js"></script>
</head>
<body>
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->
    <div class="page_overlay unauthorized animated fadeOut" style="display: none;">
        <div class="loader-inner ball-pulse">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <div class="cloudWrapper">
        <div class="cloud cloud-1"><img src="http://0effortthemes.com/unauthorized-error-page/demo/images/cloud-1.png" alt=""></div>
        <div class="cloud cloud-2"><img src="http://0effortthemes.com/unauthorized-error-page/demo/images/cloud-2.png" alt=""></div>
        <div class="cloud cloud-3"><img src="http://0effortthemes.com/unauthorized-error-page/demo/images/cloud-3.png" alt=""></div>
        <div class="cloud cloud-4"><img src="http://0effortthemes.com/unauthorized-error-page/demo/images/cloud-4.png" alt=""></div>
    </div>

    <div class="unauthorized-wrap">
        <div class="scene-unauth"></div>
        <div class="row-flex">
            <div class="messge-unathorized">
                <h1>
                    <span>Stop</span> <br>
                    Unauthorized
                </h1>
                <p>Leider haben sie nicht die benötigten Rechte um diese Aktion auszuführen.</p>
            </div>
        </div>
        <div class="charecter-6">
            <img src="http://0effortthemes.com/unauthorized-error-page/demo/images/charecter-6.png" alt="">
            <span class="eye-6"><img src="http://0effortthemes.com/unauthorized-error-page/demo/images/eye-6.gif" alt=""></span>
            <span class="hand-6">
                <img src="http://0effortthemes.com/unauthorized-error-page/demo/images/hand-6.png" alt="">
            </span>
        </div>
    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
          function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>

    <script src="http://0effortthemes.com/unauthorized-error-page/demo/scripts/vendor.js"></script>

    <script src="http://0effortthemes.com/unauthorized-error-page/demo/scripts/plugins.js"></script>

    <script src="http://0effortthemes.com/unauthorized-error-page/demo/scripts/main.js"></script>


</body>
</html>