# Serverspezifische Konfiurationsdaten sollten hier drin Platz finden
# Die Datei ist als Spring.Properties.Config abzulegen und auf SVN Ignore zu stellen (NICHT EINCHECKEN!) damit jedr Entwickler seine
# eigene Konfiguration haben kann. Neue Properties sind im Template zu ergänzen und gegebenenfalls zu beschreiben.

##########################################################
#  Database Konfiguration
##########################################################

dbConnectionString=Data Source=localhost\SQLEXPRESS;Initial Catalog=dev_db;User ID = user;Password=pwd
dbProvider=SqlServer-2.0

##########################################################
#  Emailversand
##########################################################

emailSenderAddress=
emailSenderName=
smtpHostAddress=
smtpPort=
smtpServerLogin=
smtpServerPassword=
smtpSslEnabled=false
smtpIgnoreInvalidSslCertificate=

##########################################################
#  Jira Konfig
##########################################################

jiraCollectorUrl=https://jira.queo-group.com/s/4c852413de2e9333f366bcc148a45496-T/de_DE-1ipnxq/71013/b6b48b2829824b869586ac216d119363/2.0.14/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=de-DE&amp;amp;collectorId=163f0ee4

##########################################################
#  DMS - Konfiguration
##########################################################

resourceRelativePath=/bin/Resources/MailTemplates/
uploadedFileBasePath=C:/Temp/Peanuts.Documents.Temp
documentContentBasePath=C:/Temp/Peanuts.Documents

# Konfiguration für Thumbnailer
ghostScriptPath=C:\develop\csharp\Peanuts.Net\Peanuts.Net.Web\GhostScript
mediaPath=C:/Temp/Peanuts.Documents/Media

##########################################################
#  Paypal Konfiguration
##########################################################

# PayPal-Url => dahin wird weitergeleitet, wenn die Zahlung per PayPal erfolgen soll:
# Doku: https://www.paypal.com/cgi-bin/webscr?cmd=p/sell/ipn-test-outside
paypalUrl=https://www.sandbox.paypal.com/cgi-bin/webscr

##########################################################
#  CronJobs Konfiguration
##########################################################

SettleAcceptedBillsTriggerPattern = 0 0 1 ? * MON-FRI
IsAutomaticBillSettlingActive = false