extends ../../../../../node_modules/queo-styleguide/src/pug/atomic/template/modules
include ../../../app/atomic/atom/link

block headline
    | B07 - Basic Links

block modules
    .container
        h2 Button link

        +link('#') Link
        +highlight
            +link('#') Link
