# Serverspezifische Konfiurationsdaten sollten hier drin Platz finden
# Die Datei ist als Spring.Properties.Config abzulegen und auf SVN Ignore zu stellen (NICHT EINCHECKEN!) damit jedr Entwickler seine
# eigene Konfiguration haben kann. Neue Properties sind im Template zu ergänzen und gegebenenfalls zu beschreiben.

dbConnectionString=Data Source=.\SQLEXPRESS;Initial Catalog=peanuts_it;Integrated Security=true
dbProvider=SqlServer-2.0

# Einstellungen für den Mailversand
emailSenderAddress=
emailSenderName=
smtpHostAddress=
smtpPort=2525
smtpServerLogin=
smtpServerPassword=
smtpSslEnabled=false
smtpIgnoreInvalidSslCertificate=true

resourceRelativePath=/Resources/MailTemplates/

jiraCollectorUrl=

uploadedFileBasePath=C:/Temp/peanuts.net.projekt.test/Uploads
documentContentBasePath=C:/Temp/peanuts.net.projekt.test/Documents
mediaPath=C:/Temp/peanuts.net.projekt.test/Media
ghostScriptPath=C:/develop/csharp/peanuts.net/Peanuts.Net.Web/GhostScript