# Serverspezifische Konfiurationsdaten sollten hier drin Platz finden
# Die Datei ist als Spring.Properties.Config abzulegen und auf SVN Ignore zu stellen (NICHT EINCHECKEN!) damit jedr Entwickler seine
# eigene Konfiguration haben kann. Neue Properties sind im Template zu ergänzen und gegebenenfalls zu beschreiben.

dbConnectionString=Data Source=cs-appsrv01\SQL2014EXPRESS;Initial Catalog=dev_peanuts_net_daniel_it;USER ID = flyway;Password=lRJEkxxI5R
dbProvider=SqlServer-2.0

# Einstellungen für den Mailversand
emailSenderAddress=info@peanuts.com
emailSenderName=noreply
smtpHostAddress=mailcatcher.queo.org
smtpPort=2525
smtpServerLogin=noreply
smtpServerPassword=q8VjloW5
smtpSslEnabled=false
smtpIgnoreInvalidSslCertificate=true

resourceRelativePath=/Resources/MailTemplates/

jiraCollectorUrl=

uploadedFileBasePath=C:/Temp/peanuts.net.projekt.test/Uploads
documentContentBasePath=C:/Temp/peanuts.net.projekt.test/Documents
mediaPath=C:/Temp/peanuts.net.projekt.test/Media
ghostScriptPath=C:/develop/csharp/peanuts.net/Peanuts.Net.Web/GhostScript