extends ../app/atomic/template/styleguidev2

block content
    .container-content
        .container-content__header
            h1
                strong Styleguide
                =" Information"

        .row
            .col-md-3
                h2 Layout
                ul
                    li
                        +link('/styleguidev2/layout/header.html') Header
                    li
                        +link('/styleguidev2/layout/sidebar.html') Navigation Sidebar
                    li
                        +link('/styleguidev2/layout/toolbar.html') Toolbar
                    li
                        +link('/styleguidev2/layout/nav-tabs.html') Tab-Navigation
            .col-md-3
                h2 Basic
                ul
                    li
                        +link('/styleguidev2/basic/favicon.html') FavIcon
                    li
                        +link('/styleguidev2/basic/buttons.html') Buttons
                    li
                        +link('/styleguidev2/basic/links.html') Links
                    li
                        +link('/styleguidev2/basic/icons.html') Icons
                    li
                        +link('/styleguidev2/basic/colors.html') Colors
                    li
                        +link('/styleguidev2/basic/typography.html') Typography
            .col-md-3
                h2 Forms
                ul
                    li
                        +link('/styleguidev2/forms/forms.html') Forms
                    li
                        +link('/styleguidev2/forms/inputs.html') Inputs
                    li
                        +link('/styleguidev2/forms/textareas.html') Textareas
                    li
                        +link('/styleguidev2/forms/checkboxes.html') Checkboxes
                    li
                        +link('/styleguidev2/forms/selects.html') Selects Multiselects
                    li
                        +link('/styleguidev2/forms/datepickers.html') Datepickers
                    li
                        +link('/styleguidev2/forms/dynamic-list.html') Dynamic Input List
                    li
                        +link('/styleguidev2/forms/grid-fileupload.html') Grid Fileupload
            .col-md-3
                h2 Content
                ul
                    li
                        +link('/styleguidev2/content/headline-start.html') Headline Start
                    li
                        +link('/styleguidev2/content/admin-link-start.html') Administration Link Start
                    li
                        +link('/styleguidev2/content/text-sections.html') Text-Sections
                    li
                        +link('/styleguidev2/content/cards-grid.html') Cards-Grid
                    li
                        +link('/styleguidev2/content/cards-grid-admin.html') Cards-Admin (Objekt-Liste)
                    li
                        +link('/styleguidev2/content/lists.html') Lists
                    li
                        +link('/styleguidev2/content/tables.html') Tables
                    li
                        +link('/styleguidev2/content/map.html') Map
                    li
                        +link('/styleguidev2/content/slider.html') Slider Images
                    li
                        +link('/styleguidev2/content/calendar.html') Calendar


