extends ../../app/atomic/template/styleguidev2

block content
    .container-content
        .container-content__header
            h1
                strong Icons
                =" Styles"

        p Icons are pushed to :before oder :after pseudo element when the icon class is added to a html element.

        ol
            li
                +link('#i1') Standard Icons

        h2#i1 Standard Icons

        .icon-search
        +highlight()
            .icon-search
            .icon-after-search

        .icon-envelope-o
        +highlight()
            .icon-envelope-o
            .icon-after-envelope-o

        .icon-envelope
        +highlight()
            .icon-envelope
            .icon-after-envelope

        .icon-home
        +highlight()
            .icon-home
            .icon-after-home

        .icon-references
        +highlight()
            .icon-references
            .icon-after-references

        .icon-user-o
        +highlight()
            .icon-user-o
            .icon-after-user-o

        .icon-user
        +highlight()
            .icon-user
            .icon-after-user

        .icon-group
        +highlight()
            .icon-group
            .icon-after-group

        .icon-pencil
        +highlight()
            .icon-pencil
            .icon-after-pencil

        .icon-square-o
        +highlight()
            .icon-square-o
            .icon-after-square-o

        .icon-check-square-o
        +highlight()
            .icon-check-square-o
            .icon-after-check-square-o

        .icon-info-circle
        +highlight()
            .icon-info-circle
            .icon-after-info-circle

        .icon-exclamation-circle
        +highlight()
            .icon-exclamation-circle
            .icon-after-exclamation-circle

        .icon-clipboard
        +highlight()
            .icon-clipboard
            .icon-after-clipboard

        .icon-copy
        +highlight()
            .icon-copy
            .icon-after-copy

        .icon-file-text-o
        +highlight()
            .icon-file-text-o
            .icon-after-file-text-o

        .icon-file-text
        +highlight()
            .icon-file-text
            .icon-after-file-text

        .icon-file-pdf-o
        +highlight()
            .icon-file-pdf-o
            .icon-after-file-pdf-o

        .icon-file-image-o
        +highlight()
            .icon-file-image-o
            .icon-after-file-image-o

        .icon-angle-left
        +highlight()
            .icon-angle-left
            .icon-after-angle-left

        .icon-angle-right
        +highlight()
            .icon-angle-right
            .icon-after-angle-right

        .icon-angle-up
        +highlight()
            .icon-angle-up
            .icon-after-angle-up

        .icon-angle-down
        +highlight()
            .icon-angle-down
            .icon-after-angle-down

        .icon-arrow-left
        +highlight()
            .icon-arrow-left
            .icon-after-arrow-left

        .icon-arrow-right
        +highlight()
            .icon-arrow-right
            .icon-after-arrow-right

        .icon-arrows
        +highlight()
            .icon-arrows
            .icon-after-arrows

        .icon-caret-down
        +highlight()
            .icon-caret-down
            .icon-after-caret-down

        .icon-caret-up
        +highlight()
            .icon-caret-up
            .icon-after-caret-up

        .icon-sort-desc
        +highlight()
            .icon-sort-desc
            .icon-after-sort-desc

        .icon-sort-asc
        +highlight()
            .icon-sort-asc
            .icon-after-sort-asc

        .icon-address-card-o
        +highlight()
            .icon-address-card-o
            .icon-after-address-card-o

        .icon-drivers-license-o
        +highlight()
            .icon-drivers-license-o
            .icon-after-drivers-license-o

        .icon-align-justify
        +highlight()
            .icon-align-justify
            .icon-after-align-justify

        .icon-bars
        +highlight()
            .icon-bars
            .icon-after-bars

        .icon-list-ol
        +highlight()
            .icon-list-ol
            .icon-after-list-ol

        .icon-tasks
        +highlight()
            .icon-tasks
            .icon-after-tasks

        .icon-power-off
        +highlight()
            .icon-power-off
            .icon-after-power-off

        .icon-check
        +highlight()
            .icon-check
            .icon-after-check

        .icon-close
        +highlight()
            .icon-close
            .icon-after-close

        .icon-circle-o
        +highlight()
            .icon-circle-o
            .icon-after-circle-o

        .icon-circle
            +highlight()
                .icon-circle
                .icon-after-circle

        .icon-check-circle-o
        +highlight()
            .icon-check-circle-o
            .icon-after-check-circle-o

        .icon-times-circle
        +highlight()
            .icon-times-circle
            .icon-after-times-circle

        .icon-calendar
        +highlight()
            .icon-calendar
            .icon-after-calendar

        .icon-calculator
        +highlight()
            .icon-calculator
            .icon-after-calculator

        .icon-clock-o
        +highlight()
            .icon-clock-o
            .icon-after-clock-o

        .icon-map-marker
        +highlight()
            .icon-map-marker
            .icon-after-map-marker

        .icon-briefcase
        +highlight()
            .icon-briefcase
            .icon-after-briefcase

        .icon-trash
        +highlight()
            .icon-trash
            .icon-after-trash

        .icon-gear
        +highlight()
            .icon-gear
            .icon-after-gear

        .icon-gears
        +highlight()
            .icon-gears
            .icon-after-gears

        .icon-link
        +highlight()
            .icon-link
            .icon-after-link

        .icon-unlink
        +highlight()
            .icon-unlink
            .icon-after-unlink
